@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

/* Define your primary color */
@theme {
  --color-primary: #6366f1; /* or whatever color you want */
}

@layer base {
  html {
    font-family: var(--font-display, "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji");
  }
  body {
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}

@layer components {
  .input-box {
    @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100/50 rounded px-4 py-3 mb-4 mt-3 border border-slate-200;
  }
  .btn-primary {
    @apply w-full text-sm font-medium text-white bg-blue-600 shadow-lg shadow-purple-600/5 p-[10px] rounded-md my-1 hover:bg-blue-500 hover:text-white cursor-pointer;
  }
  .card{
    @apply bg-white p-6 rounded-2xl shadow-md shadow-gray-100 border border-gray-200/50;
  }
  .card-btn{
    @apply flex items-center gap-3 text-[12px] font-medium text-gray-700 hover:text-primary bg-gray-50 hover:bg-blue-50 px-4 py-1.5 rounded-lg border border-gray-200/50 cursor-pointer;
  }
}

